.navigation {
  display: flex;
  width: 79vw;
  height: 18px;
  left: 281px;
  top: 72px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  padding-top: 10px;
  padding-left: 20px;
  background: #e5e5e5;
  padding-bottom: 10px;
}

.icons-items {
  margin-top: -3px;
}

.phieu-thu {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 20px;
  display: flex;
  height: 50px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ReceiptOutline {
  padding: 3px;
  background-color: #4264d0;
  border-radius: 3px;
}

.phieu-thu h2 {
  font-size: 24px;
  margin-left: 15px;
}

.danh-sach-phieu-thu {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 28px;
  display: flex;
  height: 40px;
  align-items: center;
}

.danh-sach-phieu-thu h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.payments {
  display: flex;
  align-self: center;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.payments-item {
  margin-right: 10px;
  border: 1px solid #4264d0;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

.search-filter {
  display: flex;
}

.search {
  width: 295px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search input {
  width: 250px;
  outline: none;
  border: none;
}

.search input:focus {
  outline: none;
}

.icons-search {
  position: absolute;
  color: red;
  border-left: 1px solid #dfdfdf;
  padding-left: 6px;
  cursor: pointer;
}

.filter {
  margin-right: 20px;
  margin-left: 15px;
  border: 1px solid #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}


/* .menu-filter {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
} */