.navbar {
  display: flex;
  width: 100vw;
  height: 66px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  justify-content: space-between;
  /* position: absolute; */
  z-index: 10;
}

.left {
  width: 265px;
  background: #213161;
}

.left img {
  margin-left: 15px;
}

.left a {
  position: absolute;
  width: 112px;
  height: 20px;
  left: 65px;
  top: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.center {
  flex: 1;
  margin-left: 15px;
  margin-top: 19px;
  cursor: pointer;
}

.right {
  margin-top: 19px;
  justify-items: right;
  display: flex;
  margin-right: 50px;
}

.language {
  width: 45px;
  height: 30px;
  left: 1218px;
  top: 15px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  left: 1283.08px;
  top: 13px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.right h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-top: 6px;
  cursor: pointer;
}