.container {
  width: 265px;
  height: 89vh;
  background: #213161;
}

.container-list {
  width: 265px;
  list-style: none;
  font-size: 14px;
  margin-left: -20px;
  list-style: none;
  padding-top: 15px;
  color: #8294b9;
  cursor: pointer;
}

.container-items {
  padding-left: 15px;
  padding-top: 10px;
}

.icons {
  position: absolute;
  left: 17.57%;
}

.icons-2 {
  color: #fff;
}
